.socials {display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        margin-left: 39.5rem;
         

}

details {
  border: 2px solid #1C377F;
  border-radius: 10px;
  margin: 5rem auto;
  padding: 1em;
  background-color: #56b7e5;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 45rem;
  font-weight: bold;
  position: relative;
  top: -25px;
  scroll-behavior: auto;
  
text-align: left;}

summary {
  cursor: pointer;
font-size: 20px;}

summary::-webkit-details-marker {
  display: none; /* removes default marker in Chrome/Safari */
}

details[open] {
  background: #56b7e5;
}

details p {
  margin: 1em 0 0;
}

.faq-welcome {text-align: center;
color:#1C377F}