

 .search {display: flex;
          align-items: center;
         height: 100px;
         margin-bottom: 15px;
         padding-top: 10px;
         flex: 1;
       
 }  
 
 .logo {height: 120px;
        padding-right: 20px;
        padding-left: 50px;
       
        }

a       {display: flex;
        flex-direction: row;
        justify-content: center;}

 .searchbar {height: 40px;
            flex: 1;
            padding-left: 10px;}

        
.selectCategory {height: 40px;
        outline: none;
        color: rgb(84, 83, 83);
        padding-left: 10px;
        padding-right: 10px;}       

        

.btn {height: 30px;
      margin-right: 20px; 
      color: rgb(84, 83, 83);
       }
       
.sign {padding-left: 50px;
        padding-right: 70px;}

.cart {display: flex;
        flex-direction: row;
        width: .3em;}

.navbar {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-shrink: 0;
        overflow: hidden;
        color: lightgray;
        background-color: #1C377F;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: sticky;
        top: 0;
        align-items: center;
     
}

.socials {display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        padding-left: 32.6rem;
        gap: 1em;
        padding-right: 2em;}

#faq {display:flex;
      flex:1;
        justify-content: flex-start;}

h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
text-align: center;
font-size:3em;
margin-bottom: 2em;
color: #56b7e5;}



.navlink {text-decoration: none;
   color: lightgray;}

#mhome {visibility: hidden;
        width: 0;}

.mobilenav {visibility: hidden;
           height: 0;}

.sociallink {color: lightgray;
             text-decoration: none;}

.sociallink:hover {color: #ffffff;}

.navlink:hover {color: #ffffff;}

#sign {
        background: none;
        border: none;
        padding: 30px;
}

#sign:hover {color: #808080;}



.cart {margin-left: auto;
        margin-right: 20px;
       }

.title {font-size: 4.8em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #1C377F;
        text-align: center;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 50px;
        
       }

.tagline {text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.1em;
        color: #56b7e5;
        padding-bottom: 30px;
      }

.gallery1 {display: flex;
         flex-direction: row;
         justify-content: center;
         margin-bottom: 10rem;
         background-color: #1C377F;
        }

#imageid {height: 400px;
         width: 600px;}

#leftbutton {background: none;
        color: azure;
        border: 0;
        height: 100;}

#rightbutton {
background: none;
border: 0;
color: azure;
height: 100;}

.gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 80px;

}

.group {display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;}

.item {height: 200px;
       padding: auto; 
        }

#price {color: #56b7e5;}

.footer { 
background-color: #1C377F;;
height: 200px;
display: flex;
align-items: center;
flex-direction: column;}

#metdark {
        height: 100px;
        background-color: #1C377F;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0;
        
}

#address {color: aliceblue;
                margin-top: 0;}

@media (max-width: 768px) {

        body {width: 384px;
                margin: 0;
                padding: 0;}

        .mobilenav {visibility: visible;
                  position: sticky;
                  height: 2em;
                  top: 0;
                  z-index: 1;
                  width: 384px;
                  margin-top: 0;
                       }

        #mobilelink {background-color: #1C377F;
                color: #ffffff;
                padding-top: 1em;
                 padding-bottom: 1em;
                display: flex;
                flex-direction: row;
                gap: 1em;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                width: 384px;
                
                 }


        #burger {display: flex;
                flex: 1;
                justify-content: flex-start;
                padding-left: .5em;
               }
        
        .search {width: 90vw;
              }

        #cart {padding-right: 1em;}
        .selectCategory {width: 2vw;}
        
        .logo, #home {display: none;
                        
                       }
        
        #sign {padding-left: 2vw;
                padding-right: 0;}
        
        .searchbar {padding-right: 10vw;
                        margin-left: 1vw;}

       

        .item {height: 10vh;
       padding: auto; 
        }

        .title {font-size: 3em;
                position: relative;
                z-index: 1;
                margin-top: 4vw;
                width: 384px;
                }

        .tagline {font-size: 1.3em;
                  margin-bottom: 4vw;
                   width: 384px;}

        .navbar {overflow: scroll;
                flex-wrap: nowrap;
                flex-direction: row;
                white-space: nowrap;
                padding-top: 2.2em;
                padding-bottom: 1.2em;
             
                background-color: white;
                position: static;
                width: 384px;
                margin-left: 0;
                padding-left: 0;
                }
        
                .search {display: none;}

        .navbar::-webkit-scrollbar {
                display: none; 
        }
        

        .searchbar, .selectCategory, #sign {display: none;}

        
        
              #sign {margin-right: 0vw;
                padding-right: 0;}

        h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           text-align: center;
           font-size: 2em;
           margin-bottom: 1em;
           color: #56b7e5;
           margin-top: 0;
           padding-top:0;
           width:384px;}

        .gallery1 {display: flex; 
                   background-color:#1C377F;
                   position: static;
                   width: 384px;
                   padding-bottom: 0;
                   margin-bottom: 4em;
                   
                   
                   }

        #imageid { width: 384px;
                   }

        #rightbutton {position: relative;
                      top: 50%;
                      right: 5%;
                     
                     }

         #leftbutton {position: relative;
                      top:50%;
                      left: 5%;
                     }

       

        .socials {display: none;
                  }
        
        .navlink {color: #616161;
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                 font-weight: lighter;
                 font-size: large;
                 border-right: solid 1px black;
                 width: 384px;
                 padding-right: 2em;
                }    
                 
        .navlink:active {color: whitesmoke;}

       

        #mhome {visibility: visible;
                width: 100%;}
                
        .label {width: 150px;
                overflow: hidden;
                height: 20px;}

        .group {width:150px;}
       
        }

       