

 .search {display: flex;
          align-items: center;
         height: 100px;
         margin-bottom: 15px;
         padding-top: 10px;
         
 }  
 
 .logo {height: 120px;
        padding-right: 20px;
        padding-left: 50px;
       
        }

a       {display: flex;
        flex-direction: row;
        justify-content: center;}

 .searchbar {height: 40px;
            flex: 1;
            padding-left: 10px;}

        
.selectCategory {height: 40px;
        outline: none;
        color: rgb(84, 83, 83);
        padding-left: 10px;
        padding-right: 10px;}       

        

.btn {height: 30px;
      margin-right: 20px; 
      color: rgb(84, 83, 83);
       }
       
.sign {padding-left: 50px;
        padding-right: 70px;}

.cart {display: flex;
        flex-direction: row;
        width: .3em;}

.navbar {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-shrink: 0;
        overflow: hidden;
        color: lightgray;
        background-color: #1C377F;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: sticky;
        top: 0;
        align-items: center;
     
}

.socials {display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        padding-left: 32.6rem;
        gap: 1em;}



.navlink {text-decoration: none;
   color: lightgray;}

.sociallink {color: lightgray;
             text-decoration: none;}

.sociallink:hover {color: #ffffff;}

.navlink:hover {color: #ffffff;}

#sign {
        background: none;
        border: none;
        padding: 30px;
}

#sign:hover {color: #808080;}



.cart {margin-left: auto;
        margin-right: 20px;
       }

.title {font-size: 4.8em;
        color: #1C377F;
        text-align: center;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 50px;
       }

.tagline {text-align: center;
        font-size: 2.1em;
        margin-top: 0;
        color: #56b7e5;
        padding-bottom: 100px;
      }

.gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 80px;

}

.group {display: flex;
        flex-direction: column;
        align-items: center;}

.item {height: 200px;
       padding: auto; 
        }

#price {color: brown;}

.footer { 
background-color: #1C377F;;
height: 200px;
display: flex;
align-items: center;
flex-direction: column;}

#metdark {
        height: 100px;
        background-color: #1C377F;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0;
        
}

#address {color: aliceblue;
                margin-top: 0;}
